@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@source "../node_modules/flowbite-datepicker";
/* @theme{
    --gradient-bg: linear-gradient(135deg, #ec4899 0%, #9333ea 100%);
} */

@theme {
  --color-pink: var(--pink);
  --color-purple:var(--purple);
  --color-bg-hero: var(--bg);
  --color-text-color:var(--text);
}

:root {
  --pink: #ec4899;
  --purple: #9333ea;
  --bg: #F3F4F6;
  --text:#000
}

.dark-mode {
  --bg: #131619;
  --text:#fff;
}

.bg {
  background: linear-gradient(135deg, #ec4899 0%, #9333ea 100%);
}
.bg-disabled {
  background: linear-gradient(135deg, #ec489ac1 0%, #9233ea98 100%);
}

/* إخفاء scrollbar مع السماح بالتمرير باللمس */
.hide-scrollbar-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* للسلاسة على iOS */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar-x::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}



/* .hero-bg {
    background:
        linear-gradient(135deg, #0f0f0f 0%, #1a0f1f 100%);
} */

.hero {
  background: linear-gradient(135deg, var(--bg) 0%, var(--bg) 100%);
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 30% 50%,
      rgba(147, 51, 234, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 70% 50%,
      rgba(236, 72, 153, 0.2) 0%,
      transparent 50%
    );
}

























/* From Uiverse.io by arghyaBiswasDev */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--pink);
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--purple);
}

input:checked + .slider:before {
  transform: translateX(1.1em);
  background-color: #fff;
}







/* From Uiverse.io by Fernando-sv */
.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.loaderr {
          position: relative;
          display: flex;
        }
        .loaderr:before , .loaderr:after {
            content: '';
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            margin: 0  5px  ;
            border-radius: 50%;
            color: #fff2fe;
            background: currentColor;
            box-shadow: 50px 0 ,  -50px 0;
            animation: left 1s infinite ease-in-out;
          }
          .loaderr:after {
            color: #ec4899;
            animation: right 1.1s infinite ease-in-out;
          }


        @keyframes right {
          0% , 100%{transform: translateY(-10px) }
          50% { transform: translateY(10px) }
        }

        @keyframes left {
          0% , 100%{ transform: translateY(10px) }
          50% { transform: translateY(-10px) }
        }