.word {
  font-size: 60px;
  display: inline-flex;
  gap: 0;
}

.word span {
  animation: fadeCycle 2.5s linear infinite;
  opacity: 1;
}

/* ترتيب التأخير لكل حرف */
.word span:nth-child(1) {
  animation-delay: 0s;
}

.word span:nth-child(2) {
  animation-delay: 0.12s;
}

.word span:nth-child(3) {
  animation-delay: 0.24s;
}

.word span:nth-child(4) {
  animation-delay: 0.36s;
}

.word span:nth-child(5) {
  animation-delay: 0.48s;
}

.word span:nth-child(6) {
  animation-delay: 0.60s;
}

@keyframes fadeCycle {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  /* اختفاء */
  50% {
    opacity: 0;
  }

  /* يظل مختفي */
  80% {
    opacity: 1;
  }

  /* بداية الظهور */
  100% {
    opacity: 1;
  }
}